@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'Pretendard' !important;
}
#stats div.stats-item div span.counter-unit {
  color: var(--heading-color);
  font-size: 24px;
  font-weight: 600;
}

#statswrap div {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#statswrap img {
  height: 100%;
  opacity: 0.3;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}