@font-face {
  font-family: 'Pretendard';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'Pretendard' !important;
}
#header{
  border-bottom: 1px solid #ddd;
}

#header a.btn-getstarted:first-child,
#header a.btn-getstarted:first-child:focus {
  background-color: #ddd;
}

#header a.btn-getstarted:first-child:hover,
#header a.btn-getstarted:first-child:focus:hover {
  background: var(--accent-color);
}

#stats div.stats-item div span.counter-unit {
  color: var(--heading-color);
  font-size: 24px;
  font-weight: 600;
}

#statswrap div {
  position: relative;
  overflow: hidden;
  z-index: 0;
}

#statswrap img {
  height: 100%;
  opacity: 0.3;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

#awards img {
  width: 100%;
}

/* #services .btn {
  background-color: var(--accent-color);
  border-radius: 100px;
}
#services .btn:hover{
  background-color: #FFDD00;
} */

#aboutbtns a,
#aboutbtns a:focus {
  display: inline-block;
  color: #333;
  font-size: 14px;
  padding: 20px 0;
  border-radius: 15px;
  transition: 0.3s;
  background: #ddd;
  text-align: center;
}

#aboutbtns a:hover,
#aboutbtns a:focus:hover {
  color: var(--default-color);
  background: rgb(255, 253, 222);
}
#clients {
  padding-top: 0;
}

#clients > div > h4 {
  margin-bottom: 1.5rem;
  font-size: 24px;
}

#news ul, #news li {
  list-style: none;
}
#news h3 {
  font-weight: 700;
  &:after{
    background: ;
  }
}

#news li {
  padding: .5rem 0;
  border-bottom: 1px solid #ddd;
}
#news li a {
  font-size: 20px;
  font-weight: 600;
  color: var(--default-color);
}
#news li span {
  color: #666;
  font-weight: 300;
}

#footer-logo {
  width: 100px;
}

.naverblog img {
  width: 20px;
}

#footer .customer-service ul li {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1;
}

#footer .customer-service a {
  color: #fff;
  font-size: 14px;
}

#footer .customer-service a:hover {
  color: var(--accent-color);
  text-decoration: underline;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}