@font-face {
  font-family: 'GumiRomanceTTF';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2410-1@1.0/GumiRomanceTTF.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Pretendard Variable' !important;
}

// 공통 클래스
.maintitle {
  font-family: 'GumiRomanceTTF' !important;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.more {
  position: absolute;
  right: 0; top: 0;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  background-color: var(--accent-color);
  color: var(--default-color);
  font-size: 24px;
  line-height: 3rem;
  font-weight: 600;
  border-radius: 100px;
  text-align: center;
  &:hover {
    color: var(--default-color) !important;
  }
}

// ui custom
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
  border: none;
  background: #fff100;
  font-weight: normal;
  color: #333
}
.ui-icon {
  margin-top: .5em !important;
  filter: invert(0.8);
}
.ui-widget-content {
  color: #666;
}

label {
  cursor: pointer;
}

.form-check-input[type=radio] {
  --bs-form-check-bg-image: url(/mybootstrap/assets/img/common/formtagcircle.svg);
  background-color: transparent;

  &:checked{
    --bs-form-check-bg-image: url(/mybootstrap/assets/img/common/formtagcircle_invert.svg);
    background-color: var(--accent-color);
  }
}

.form-check-input[type=checkbox] {
  --bs-form-check-bg-image: url(/mybootstrap/assets/img/common/formtagcircle.svg);
  background-color: transparent;

  &:checked{
    --bs-form-check-bg-image: url(/mybootstrap/assets/img/common/formtagcircle_invert.svg);
    background-color: var(--accent-color);
  }
}

// header
#header {
  a.btn-getstarted {
    &:first-child,
    &:first-child:focus {
      background-color: #ddd;
    }

    &:first-child:hover,
    &:first-child:focus:hover {
      background: var(--accent-color);
    }
  }
  img {
    width: 24px;
    height: 24px;
    filter: invert(1);
    transition: 0.3s;
    position: absolute;
    top: calc(50% - 12px);
    right: calc(50% - 12px);
    z-index: -1;
  }
  
  @media (max-width: 1199px){
    a {
      mix-blend-mode: multiply;
      span {
        display: none;
      }
    }
  }
}

.scrolled {
  #header {
    background-color: var(--background-color);
    color: var(--default-color);
    border-bottom: 1px solid #ddd;

    .navmenu {
      a,
      a:focus {
        color: var(--nav-color);
        font-weight: 600;
      }

      li:hover > a,
      .active:focus {
        color: var(--nav-dropdown-hover-color);
      }
    }
    .logo, img {
      filter: invert(0);
    }
  }
}

@media (max-width: 649px){
  .navmenu {
    ul {
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      list-style: none;
      position: fixed;
      left: 2rem;
      right: 2rem;
      top: unset;
      bottom: 25px;
      padding: 10px 90px;
      margin: 0;
      border-radius: 50px;
      
      overflow: hidden;
      z-index: 9998;
      gap: unset;
    }
  }
  .scrolled .navmenu ul {
    background-color: rgba(255, 255, 255, .7);
  }
  .scroll-top {
    right: 3rem;
    bottom: 35px;
    border-radius: 50px;
  }
}
// index page header
#index-page header {
  .navmenu a span:after {
      content: '';
      position: absolute;
      width: auto;
      height: 10px;
      background-color: transparent;
      bottom: 1.2rem;
      left: .5rem;
      right: .5rem;
      border-radius: 2px;
      transform: translateX(-100%);
      transition: transform 0.5s ease-in-out;
      z-index: -1;
  }
  .navmenu a,
  .navmenu a:focus {
    color: #fff;
  }
  .logo {
    filter: invert(1);
  }
  a.active span:after {
    transform: translateX(0);
    background-color: var(--accent-color);
  }
  .navmenu ul li:first-child a.active::before {
    content: '';
    background: var(--background-color);
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: -100%
  }
}

// footer
#footer {
  #footer-logo {
    width: 100px;
  }

  .naverblog img {
    width: 20px;
  }

  .customer-service {
    ul li {
      margin-bottom: 5px;
      font-size: 14px;
      line-height: 1;
    }

    a {
      color: #fff;
      font-size: 14px;

      &:hover {
        color: var(--accent-color);
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 768px) {
  .h-1rem {
      height: 1rem;
      min-height: 24px;
  }
}