#faqcontent {
  h3 {
    border-radius: var(--bs-border-radius);
    background-color: #eee;
    font-weight: 600;
  }
  .content {
    dl dt {
      gap: 1rem;
      font-weight: 600;
  
      &:first-child {
        border-top: 0 !important;
      }
  
      i {
        transition: transform 0.3s ease;
      }
  
      &:hover {
        cursor: pointer;
      }
      
      &.expand {
        i {
          transform: rotate(90deg);
        }
        + dd {
          padding: 0 2rem 2rem;
          display: block !important;
          line-height: 2;
          font-weight: 400;
          color: #454545;
        }
      }
    }
  }
}

#CScenter > div {
  background-color: var(--accent-color);
  border-radius: var(--bs-border-radius);
  width: 80%;

  ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contactinfo {
    text-align: center;
    h5 {
      margin-bottom: 1.5rem;
    }
    li {
      margin-bottom: .5rem;
    }
    a {
      color: var(--default-color);
    }
  }
}