#orderTab {
  border-bottom: none;
  gap: .5rem;

  .nav-link{
    color: rgba($color: #ffffff, $alpha: 0.7);
    border-color: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
    
    &:hover {
      color: #ffffff;
      background-color: rgba($color: #ffffff, $alpha: 0.3);
    }
    &.active {
      color: #333;
      background-color: var(--accent-color);
      border-color: transparent;

      &:hover {
        color: #333;
        border-color: transparent;
      }
    }
  }
}

#hero {
  .container > div {
    height: 600px;
  }

  

    .exp {
      font-size: 15px;
      margin-top: 0;
    }

    .form-control {
      background: transparent;
      border: 1px solid #999;
      color: #fff;
      line-height: 2;

      &:focus {
        border-color: var(--accent-color);
        background: transparent;
        box-shadow: none;
        color: #fff;
      }

      &:placeholder {
        color: #fff;
      }
      &:-moz-placeholder {
        color: #fff;
      }
      &:-ms-input-placeholder {
        color: #fff;
      }
      &::-webkit-input-placeholder {
        color: #fff;
      }
    }

    .other-input {
      display: inline-block;
      width: auto;
      padding: 0 0.3rem;
      line-height: 1.5;
      &:placeholder{
        color: #999;
      }
      &:-moz-placeholder {
        color: #999;
      }
      &:-ms-input-placeholder {
        color: #999;
      }
      &::-webkit-input-placeholder {
        color: #999;
      }
  }

  #submit {
    background-color: var(--accent-color);
    border: none;
    color: #333;
    font-size: 24px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: var(--bs-border-radius);
    width: 100%;
  }
}

#B2B_inquiries {
  #inquiryType-button {
    width: 100%;
    line-height: 2;
    background: transparent;
    color: #fff;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: var(--bs-border-radius);
    border: 1px solid #999;
    &:focus {
      border: 1px solid var(--accent-color);
    }
  }

  select {
    option {
      color: #666;
    }
  }
}

.dateselector {
  cursor: pointer;

  input {
    position: relative;
    background: url('/mybootstrap/assets/img/main/calendar-check.svg') no-repeat right 10px center !important;

    &::-webkit-calendar-picker-indicator,
    &::-webkit-inner-spin-button {
      position: absolute;
      left: 0;
      top: 0;
      opacity: 0;
      appearance: none;
      width: 100%;
    }
  }
}

#stats {
  div.stats-item {
    div span.counter-unit {
      color: var(--heading-color);
      font-size: 24px;
      font-weight: 600;
    }
  }
}

#statswrap {
  div {
    position: relative;
    overflow: hidden;
    z-index: 0;
  }

  img {
    height: 100%;
    opacity: 0.3;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
}

#awards {
  img {
    width: 100%;
  }
}

#aboutbtns {
  a,
  a:focus {
    display: inline-block;
    color: #333;
    font-size: 14px;
    padding: 20px 0;
    border-radius: 15px;
    transition: 0.3s;
    background: #ddd;
    text-align: center;

    @media (max-width: 768px) {
      padding: 10px;
    }
  }

  a:hover,
  a:focus:hover {
    color: var(--default-color);
    background: rgb(255, 253, 222);
  }
}

#clients {
  padding-top: 0;

  > div > h4 {
    margin-bottom: 1.5rem;
    font-size: 24px;
  }
}

#news {
  ul, li {
    list-style: none;
  }

  h3 {
    font-weight: 700;
    display: flex;
    align-items: center;

    a {
      color: var(--default-color);
      display: flex;
      align-items: center;
    }

    i {
      color: #919191;
      font-size: 18px;
      margin-left: 0.5rem;
    }
  }

  li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;

    a {
      font-size: 20px;
      font-weight: 600;
      color: var(--default-color);
    }

    span {
      color: #666;
      font-weight: 300;
    }
  }
}

#cta {
  padding-bottom: 0;

  div {
    .textcontent {
      padding: 300px 0;
      @media (max-width: 576px) {
        padding: 100px 0;
      }
    }

    h2 {
      font-size: 50px;
      font-weight: bolder;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);

      @media (max-width: 768px) {
        font-size: 32px !important;
      }
    }

    h4 {
      text-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);

      @media (max-width: 576px) {
        font-size: 18px !important;
      }
    }
  }

  .btn-cta {
    display: inline-block;
    width: 200px;
    background-color: var(--accent-color);
    color: #333;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 0;
    border-radius: 20px;

    &:hover {
      background-color: #FFDD00;
      color: #333;
    }
  }
}

.servicebtn {
  right: 1rem;
  top: 1rem;
}

#step7 {
  .modal-dialog{
    top: calc(50% - 270px);
    margin: 0 auto;
    img {
      width: 100%;
    }
  }
}