* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #333;
}

ol, ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

#admbody {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #eee;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
}
#admbody .container {
  margin: 2rem auto 0;
  width: 80%;
  height: auto;
  border-radius: 10px;
  padding: 1.5rem 1.5rem 1rem;
  position: relative;
  background: #fdfdfd;
}
#admbody .container h1 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: bolder;
}
#admbody .container h2 {
  font-size: 1rem;
  font-weight: normal;
  float: right;
  text-align: right;
  position: absolute;
  right: 2rem;
  top: 2.4rem;
}
#admbody #admheader {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #fff;
  padding: 0 10%;
}
#admbody #admheader #logout {
  display: inline-block;
  background-color: rgb(255, 241, 0);
  color: #333;
  font-size: 16px;
  font-weight: 600;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  border: none;
}
#admbody #admheader #logout:hover {
  background-color: #FFDD00;
  color: #333;
}
#admbody .storelist {
  padding: 1rem 0 0;
  border-top: 1px solid #ddd;
}
#admbody .storelist > form > ul > ul {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 8px;
  gap: 0.5rem;
}
#admbody .storelist > form > ul > ul:hover {
  background-color: #eee;
}
#admbody .storelist > form > ul > ul li {
  color: #999;
}
#admbody .storelist > form > ul > ul li:first-child {
  width: 200px;
  font-weight: 600;
  color: #454545;
}
#admbody .storelist input[type=checkbox] {
  margin-right: 1rem;
}
#admbody .admin {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  border-top: 1px solid #ddd;
}
#admbody .admin .btn {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 8px;
  background-color: #c1dfff;
  display: inline-block;
  font-size: 14px;
  text-align: center;
}
#admbody .admin .btn.deletebtn {
  background-color: red;
  cursor: pointer;
}
#admbody .longtext {
  width: 300px;
}
#admbody .shorttext {
  width: 150px;
}
#admbody .contactnum {
  width: 150px;
}
#admbody .contactmail {
  width: 300px;
}