#faqcontent h3 {
  border-radius: var(--bs-border-radius);
  background-color: #eee;
  font-weight: 600;
}
#faqcontent .content dl dt {
  gap: 1rem;
  font-weight: 600;
}
#faqcontent .content dl dt:first-child {
  border-top: 0 !important;
}
#faqcontent .content dl dt i {
  transition: transform 0.3s ease;
}
#faqcontent .content dl dt:hover {
  cursor: pointer;
}
#faqcontent .content dl dt.expand i {
  transform: rotate(90deg);
}
#faqcontent .content dl dt.expand + dd {
  padding: 0 2rem 2rem;
  display: block !important;
  line-height: 2;
  font-weight: 400;
  color: #454545;
}

#CScenter > div {
  background-color: var(--accent-color);
  border-radius: var(--bs-border-radius);
  width: 80%;
}
#CScenter > div ul, #CScenter > div li {
  list-style: none;
  margin: 0;
  padding: 0;
}
#CScenter > div .contactinfo {
  text-align: center;
}
#CScenter > div .contactinfo h5 {
  margin-bottom: 1.5rem;
}
#CScenter > div .contactinfo li {
  margin-bottom: 0.5rem;
}
#CScenter > div .contactinfo a {
  color: var(--default-color);
}