#inquirypage .form-control {
  background: transparent;
  border: 1px solid #999;
  color: #454545;
  line-height: 2;
  padding: 1rem 1.5rem;
}
#inquirypage .form-control:focus {
  border-color: var(--accent-color);
  background: transparent;
  box-shadow: none;
  color: #454545;
}
#inquirypage .form-control:placeholder {
  color: #454545;
}
#inquirypage .form-control:-moz-placeholder {
  color: #454545;
}
#inquirypage .form-control:-ms-input-placeholder {
  color: #454545;
}
#inquirypage .form-control::-webkit-input-placeholder {
  color: #454545;
}
#inquirypage .other-input {
  display: inline-block;
  width: auto;
  padding: 0 0.3rem;
  line-height: 1.5;
}
#inquirypage .other-input:placeholder {
  color: #454545;
}
#inquirypage .other-input:-moz-placeholder {
  color: #454545;
}
#inquirypage .other-input:-ms-input-placeholder {
  color: #454545;
}
#inquirypage .other-input::-webkit-input-placeholder {
  color: #454545;
}
#inquirypage #submit {
  background-color: var(--accent-color);
  border: none;
  color: #333;
  font-size: 24px;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: var(--bs-border-radius);
  width: 100%;
}
#inquirypage .form-check-input[type=radio] {
  --bs-form-check-bg-image: url(/mybootstrap/assets/img/common/formtagcircle_invert.svg);
  border-color: #999;
}
#inquirypage .form-check-input[type=checkbox] {
  --bs-form-check-bg-image: url(/mybootstrap/assets/img/common/formtagcircle_invert.svg);
  border-color: #999;
}
#inquirypage .dateselector {
  cursor: pointer;
}
#inquirypage .dateselector input {
  position: relative;
  background: url("/mybootstrap/assets/img/main/calendar-check_dark.svg") no-repeat right 10px center !important;
}
#inquirypage .dateselector input::-webkit-calendar-picker-indicator, #inquirypage .dateselector input::-webkit-inner-spin-button {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  appearance: none;
  width: 100%;
}
#inquirypage #orderTab {
  border-bottom: none;
  gap: 0.5rem;
}
#inquirypage #orderTab .nav-link {
  color: rgba(69, 69, 69, 0.7);
  border-color: rgba(153, 153, 153, 0.5);
  border-radius: 50px;
  font-weight: 400;
}
#inquirypage #orderTab .nav-link:hover {
  color: #454545;
  background-color: rgb(255, 253, 222);
}
#inquirypage #orderTab .nav-link.active {
  color: #333;
  background-color: var(--accent-color);
  border-color: transparent;
  font-weight: 600;
}
#inquirypage #orderTab .nav-link.active:hover {
  color: #333 !important;
  border-color: transparent;
}
#inquirypage #inquiryType-button {
  width: 100%;
  line-height: 2;
  background: rgb(255, 253, 222);
  color: #454545;
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: var(--bs-border-radius);
  border: 1px solid #999;
}
#inquirypage #inquiryType-button:focus {
  border: 1px solid var(--accent-color);
}